<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youngdesigns.swerve" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SwerveTabbedActivity"
            android:label="@string/title_activity_swerve_tabbed" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".FriendsViewActivity"
            android:label="@string/title_activity_friends_view"
            android:parentActivityName=".SwerveTabbedActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.youngdesigns.swerve.SwerveTabbedActivity" />
        </activity>
        <activity
            android:name=".GroupsViewActivity"
            android:label="@string/title_activity_groups_view"
            android:parentActivityName=".SwerveTabbedActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.youngdesigns.swerve.SwerveTabbedActivity" />
        </activity>
    </application>

</manifest>
